nav, menu {
    list-style: none;
    padding: 0;
    > li {
        cursor: pointer;
    }
}
ul {
    list-style: none;
    padding: 0;
}


* ::-webkit-scrollbar {
    width: 8px;
    height: 7px;
}

* ::-webkit-scrollbar-button {
    height: 0;
}

* ::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #3463F8;
    border-radius: 54px;
}

* ::-webkit-scrollbar-track {
    background-color: #999;
}

* ::-webkit-scrollbar-track-piece {
    background-color: #E6E6E6;
}