// grid
$max-col-xsm: 360px;
$max-col-sm: 576px;
$min-col-sm: 576px;
$max-col-md: 767px;
$min-col-md: 768px;
$max-col-lg: 991px;
$min-col-lg: 992px;
$max-col-xl: 1139px;
$min-col-xl: 1140px;
$max-col-notebook: 1366px;
$min-col-notebook: 1367px;
$max-col-xxl: 1899px;
$min-col-xxl: 1900px;