@import "../../styles/import.scss";

.modal {
    position: absolute;
    width: 500px;
    left: calc((100vw - 500px) / 2);
    top: 10vh;
    outline: none;

    .container {
        padding: 20px 0;
        border-radius: 20px;
        background: #fff;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px 20px 20px;
            border-bottom: 1px solid #E6E6E6;

            .title {
                font-family: Gilroy;
                font-weight: bold;
                color: #000;
                font-size: 1.3rem;
            }

            button {
                border: 0;
                background: transparent;
                outline: none;
                cursor: pointer;
                padding: 0;
                font-size: 1.6rem;

                > span {
                    font-size: 1.6rem;
                }
            }
        }

        .content {
            padding: 20px 20px 0 20px;
        }
    }
}

.modal.lg {
    width: 90vw;
    left: 5vw;
}

.modal.md {
    width: 574px;
    left: calc(50% - 290px);

    @media(max-width: $max-col-sm) {
        width: 90vw;
        left: 5vw;
    }
}

@media(max-width: $max-col-sm) {

    .modal {
        position: absolute;
        width: 90vw;
        left: 5vw;

        .container {

            padding: 10px 0;

            .header {
                padding: 0 10px 10px 10px;

                .title {
                    font-size: 1.1rem;
                }
            }

            .content {
                padding: 10px 10px 0 10px;
            }
        }
    }

}
