.wrapper1 {
      padding: 70px 0 90px 0;
      background: #3464f8;
      //overflow: hidden;
      max-width: 1300px;
      .title {
          display: block;
          text-align: center;
          color: #ffffff;
          font-size: 3rem;
          font-weight: bold;
          line-height: 3rem;
          font-family: Gilroy;
      }
  
      .sliderContainer {
          margin: 40px auto 0 auto;
          //width: 80%;
            max-width: 1300px;
          button[class="slick-arrow slick-next"], button[class="slick-arrow slick-next slick-disabled"] {
              background: url(../../assets/images/whiteArrowRight.svg) no-repeat;
              display: block;
              width: 1.1rem;
              height: 2rem;
              background-size: cover;
  
              &:before {
                  content: '';
              }
          }
  
          button[class="slick-arrow slick-prev"], button[class="slick-arrow slick-prev slick-disabled"] {
              background: url(../../assets/images/whiteArrowLeft.svg) no-repeat;
              display: block;
              width: 1.1rem;
              height: 2rem;
              background-size: cover;
  
              &:before {
                  content: '';
              }
          }
  
          .slide {
              div {
                  padding: 0 1rem;
                  display: flex;
                  justify-content: center;
  
                  img {
                      display: block;
                      height: 3rem;
                  }
              }
          }
  
          .slide.huge {
              div {
                  img {
                     height: 5.5rem;
                  }
              }
          }
  
          .slide.small {
              div {
                  img {
                     height: 2rem;
                  }
              }
          }
  
          .slide.futureOneExchange {
              div {
                  img {
                     height: 1.75rem;
                  }
              }
          }
  
          .slide.extraSmall {
              div {
                  img {
                      height: 1.5rem;
                  }
              }
          }
      }
  }
  
  @media(max-width: 575px) {
      .wrapper1 {
          padding-top: 2em;
          padding-bottom: 4rem;
  
          .title {
              font-size: 1.4rem;
              line-height: 1.4rem;
          }
  
          .sliderContainer {
              width: 95%;
              margin: 2em auto 0 auto;
  
  
              .slide {
                  div {
                      padding: 0 .5rem;
  
                      img {
                          display: block;
                          height: initial;
                          width: 100%;
                      }
                  }
              }
  
              .slide.futureOneExchange {
                  div {
                      img {
                          height: 1.7rem;
                      }
                  }
              }
  
              .slide.huge {
                  div {
                      img {
                          width: initial;
                          height: 4.5rem;
                      }
                  }
              }
  
              .slide.small {
                  div {
                      img {
                          height: initial;
                          width: 100%;
                      }
                  }
              }
  
              .slide.extraSmall {
                  div {
                      img {
                          height: initial;
                          width: 100%;
                      }
                  }
              }
  
              .slide.smallMobile {
                  div {
                      img {
                          height: 1.8rem;
                      }
                  }
              }
          }
      }
  }
  
  @media(min-width: 576px) AND (max-width: 1200px) {
  
      .wrapper1 {
          padding-top: 2em;
          padding-bottom: 4rem;
  
          .sliderContainer {
              width: 85%;
              margin: 2em auto 0 auto;
              .slide {
                  div {
                      padding: 0 .5rem;
                  }
              }
  
              .slide.futureOneExchange {
                  div {
                      img {
                          height: 1.7rem;
                      }
                  }
              }
  
              .slide.huge {
                  div {
                      img {
                          height: 4.5rem;
                      }
                  }
              }
  
              .slide.extraSmall {
                  div {
                      img {
                          height: initial;
                          width: 100%;
                      }
                  }
              }
          }
      }
  }
  
  div[class="slick-track"] {
      display: flex;
      align-items: center;
  }
  